<div class="position: relative;">
    <button type="button" class="custom-prev" aria-label="button-prev"><svg viewBox="-2 -2 12 16" ư style="position:absolute;top:0;left:0;width:100%;height:100%;">
            <path d="M5 2 L6 2 L3 6 L6 10 L5 10 L2 6 Z" fill="#fff"></path>
        </svg></button>
    <button type="button" class="custom-next" aria-label="button-next"><svg viewBox="-2 -2 12 16" style="position:absolute;top:0;left:0;width:100%;height:100%;">
            <path d="M3 2 L2 2 L5 6 L2 10 L3 10 L6 6 Z" fill="#fff"></path>
        </svg></button>
    <div class="single-item">
        {% for row in rows %}
            <div class="">
                {{ row }}
            </div>
        {% endfor %}
    </div>
</div>