.custom-prev,
.custom-next {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border: none;
    font-size: 24px;
    color: #fff;
    background-color: rgba(0,0,0,.6) !important;
    padding: 25px;
}

.custom-prev {
    left: 0;
}

.custom-next {
    right: 0;
}

.custom-prev:hover,
.custom-next:hover {
    cursor: pointer;
}

.nguyen-hoang-group-slider .custom-prev,
.nguyen-hoang-group-slider .custom-next {
    display: none !important;
}

.nguyen-hoang-group-slider img {
    margin: 0 auto;
}