.collapse-active {
    top: 100%;
    opacity: 1;
    visibility: inherit;
}

.transition-all {
    transition: all .3s ease;
}

.home-slider img {
    width: 100%;
    height: calc(100vh - 100px);
    object-fit: cover;
}

.a-hidden a {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}