body {
    overflow-x: hidden;
    overflow-y: hidden;
}

html ::-webkit-scrollbar {
    border-radius: 0;
    height: 8px;
    width: 8px;
    background-color: transparent;
}

html ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

html ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0;
}

.collapse-active {
    top: 100%;
    opacity: 1;
    visibility: inherit;
}

.transition-all {
    transition: all .3s ease;
}

.home-slider img {
    width: 100%;
    height: calc(100vh - 100px);
    object-fit: cover;
}

.a-hidden a {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.news-home .views-field-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.news-home,
.why-choose-block {
    padding-top: 160px;
    padding-bottom: 100px;
    min-height: 700px;
    text-align: center;
}

.news-home .view-header>h1,
.why-choose-block .view-header>h1 {
    font-weight: 700;
    margin-bottom: 50px;
    position: relative;
}

.news-home .view-header>h1::before,
.why-choose-block .view-header>h1::before {
    content: attr(data-title);
    display: block;
    font-size: 1.5em;
    opacity: 0.1;
    position: absolute;
    left: 0;
    right: 0;
    line-height: normal;
    color: inherit;
}

.why-choose-block-column img {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 16px solid #fff;
    object-fit: cover;
}

.why-choose-block-column .title {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    display: block;
    inline-size: 80%;
    margin: 20px auto;
    min-height: 60px;
}

.why-choose-block-column .info>p {
    color: #fff;
    inline-size: 80%;
    margin: 0 auto;
}

.news-home .views-col>.col-style {
    padding: 30px;
    position: relative;
    border: none;
    border-radius: 6px;
    background-color: #fff;
    -webkit-box-shadow: 0.68px 12.982px 29px 0 rgb(0 0 0 / 7%);
    box-shadow: 0.68px 12.982px 29px 0 rgb(0 0 0 / 7%);
}

.box-shadow-style {
    border: none;
    border-radius: 6px;
    background-color: #fff;
    -webkit-box-shadow: 0.68px 12.982px 29px 0 rgb(0 0 0 / 7%);
    box-shadow: 0.68px 12.982px 29px 0 rgb(0 0 0 / 7%);
}

.transition-cubic-style {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


.admissions-item:hover .transition-cubic-style {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.news-home .views-col>.col-style img {
    width: 100%;
    min-height: 480px;
    max-height: 480px;
}

.readmore-icon {
    transition: all 0.4s ease;
}

.page-wrapper *:focus,
.ui-dialog *:focus {
    outline: unset;
    box-shadow: unset;
}

.underline-text::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 3px;
    background-color: #F1CF1E;
    display: block;
    content: "";
}

.ul-style {
    margin-top: 10px;
}

.ul-style ul,
.ul-style li {
    margin: 0 !important;
    margin-top: 6px;
    list-style: none !important;
    list-style-type: none !important;
}

.footer-social .view-content {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.footer-social .view-content .views-row+.views-row {
    margin-left: 10px;
}

.footer-social {
    padding: 20px 0;
    position: relative;
}

.footer-social::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    height: 1px;
    content: "";
    background-color: #b05356;
}

#block-copyrightblock {
    background-color: #88191c;
    text-align: center;
    padding-bottom: 40px;
    color: #ccc;
}

#scroll-to-top {
    display: none;
    background-color: #88191c;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

#scroll-to-top svg {
    transform: rotate(90deg);
}

.line,
.logo-loading {
    transition: all 1s ease;
}

.close .logo-loading {
    opacity: 0;
}

.close .line:nth-child(1),
.close .line:nth-child(3),
.close .line:nth-child(5) {
    opacity: 0;
    transform: translateX(100%);
}

.close .line:nth-child(2),
.close .line:nth-child(4) {
    opacity: 0;
    transform: translateX(-100%);
}

.to-top {
    transform: translateY(100px);
}

.to-right {
    transform: translateX(-200px);
}

.to-left {
    transform: translateX(200px);
}

.to-right,
.to-left,
.to-top {
    opacity: 0;
    transition: all 1s ease 0s;
}

.to-right.show,
.to-left.show {
    opacity: 1;
    transform: translateX(0);
}


.to-top.show {
    opacity: 1;
    transform: translateY(0);
}

#block-menuiconblock .fontawesome-icon {
    font-size: 2.2rem;
}

#sidebar-menu.active {
    left: 0;
    visibility: unset;
}

#overlay-sidebar.active {
    opacity: 0.5;
    visibility: unset;
}

.banner-image>img {
    height: 300px;
}

.node--type-introduce .layout--twocol-section .layout__region {
    padding: 0 20px;
}

.node--type-introduce .layout--twocol-section .layout__region img {
    width: 100%;
    height: auto;
}

.node .layout {
    padding-bottom: 50px;
}

.our-card:hover img {
    transform: translateY(0);
}

.our-card:hover .btn-more::after {
    opacity: 1;
    width: 100%;
    background-color: #88191c;
}

.our-card:hover .btn-more .btn-more-span {
    opacity: 1;
    visibility: unset;
}

.node--type-news .layout--onecol:nth-child(2) .layout__region--content,
.node--type-admissions .layout--onecol:nth-child(2) .layout__region--content {
    display: flex;
}

.node--type-news .layout--onecol:nth-child(2) .layout__region--content>*+*,
.node--type-admissions .layout--onecol:nth-child(2) .layout__region--content>*+* {
    margin-left: 60px;
}


.breadcrumb__item+.breadcrumb__item::before {
    display: inline-block;
    padding: 0 0.75rem;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' height='8' width='5'%3e%3cpath fill='currentColor' d='M1.207.647L.5 1.354 3.146 4 .5 6.647l.707.707L4.561 4z'/%3e%3c/svg%3e");
}

.language-switcher-language-url .links .is-active {
    display: none !important;
}

.language li {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.width-full {
    width: 100% !important;
}

.news-home-row,
.row-footer-style,
.why-choose-block-row {
    display: grid;
    gap: 20px;
}

.why-choose-block-column {
    width: 100% !important;
}

.news-home-col,
.col-footer-style {
    width: 100% !important;
}

.news-home-row,
.why-choose-block-row {
    grid-template-columns: repeat(3, 1fr);
}

.row-footer-style {
    grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width: 1536px) {
    .row-footer-style {
        grid-template-columns: repeat(4, 1fr);
    }

    .news-home-row,
    .why-choose-block-row {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1280px) {

    .news-home .views-col>.col-style img {
        width: 100%;
        min-height: 240px;
        max-height: 240px;
    }

    .home-slider img {
        height: auto;
    }

    .custom-prev,
    .custom-next {
        width: 25px;
        height: 25px;
        padding: 0;
    }

    .row-footer-style {
        grid-template-columns: repeat(4, 1fr);
    }

    .news-home-row,
    .why-choose-block-row {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1024px) {
    .row-footer-style {
        grid-template-columns: repeat(2, 1fr);
    }

    .news-home-row,
    .why-choose-block-row {
        grid-template-columns: repeat(1, 1fr);
    }

    .banner-image>img {
        height: 200px;
    }
}

@media only screen and (max-width: 768px) {

    .news-home {
        padding-top: 60px;
        padding-bottom: 40px;
    }

    .news-home-row,
    .row-footer-style,
    .why-choose-block-row {
        grid-template-columns: repeat(1, 1fr);
    }

    .node--type-news .layout--onecol:nth-child(2) .layout__region--content,
    .node--type-admissions .layout--onecol:nth-child(2) .layout__region--content {
        display: flex;
        flex-direction: column;
    }

    .node--type-news .layout--onecol:nth-child(2) .layout__region--content>*+*, .node--type-admissions .layout--onecol:nth-child(2) .layout__region--content>*+* {
        margin-left: 0;
    }

    .node--type-news .layout--onecol:nth-child(2) .layout__region--content .field ,
    .node--type-admissions .layout--onecol:nth-child(2) .layout__region--content .field  {
        font-size: 1rem !important;
    }

    .node--type-news .layout--onecol:nth-child(2) .layout__region--content svg ,
    .node--type-admissions .layout--onecol:nth-child(2) .layout__region--content svg  {
        width: 1rem !important;
        height: 1rem !important;
    }
}


@media only screen and (max-width: 640px) {

    .news-home-row,
    .row-footer-style,
    .why-choose-block-row {
        grid-template-columns: repeat(1, 1fr);
    }
}