<div class="custom_view_our_programs py-[50px]">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-8 gap-y-8 lg:gap-y-16">
        {% for row in rows %}
            {% set node = row['#row'] %}
            {% set image_url = file_url(node._entity.field_image_edu.entity.fileuri) %}
            {% set langCode = node.node_field_data_langcode %}
            <a href="{{  url('entity.node.canonical', {'node': node.nid})  }}">
                <div class="h-[200px] lg:h-[300px] flex box-shadow-style our-card cursor-pointer">
                <div class="w-[40%]">
                    <img src="{{image_url}}" alt="" class="h-[200px] lg:h-[300px] w-[270px] rounded-md lg:translate-y-[-30px] transition-all object-cover"/>
                </div>
                <div class="w-[60%] py-8 px-3">
                    <div>
                    <h1 class="text-xl font-medium mb-6">{{node._entity.getTranslation(langCode).title.value}}</h1>
                    </div>
                    <div style="overflow: hidden; display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;">{{node._entity.getTranslation(langCode).field_intro_edu.value | raw}}</div>
                    <button class="hidden btn-more relative mt-14 h-[42px] bg-[#bfbfbf] text-white lg:flex items-center font-medium rounded-full pb-[7px] pt-[3px] pl-[13px] pr-[18px] text-2xl bg-[transparent] after:content-[''] after:absolute after:top-0 after:left-0 after:bottom-0 after:block after:w-[42px] after:bg-[#bfbfbf] after:rounded-full after:transition-all"><span class="z-10">+ <span class="btn-more-span text-base translate-x-[3px] translate-y-[-2px] inline-block transition-all opacity-0 invisible">
                    {% if langCode == "vi" %}
                                Xem thêm
                            {% else %}
                                Read More
                            {% endif %}
                    </span></span></button>
                </div>
                </div>
            </a>
        {% endfor %}
  </div>
</div>
