<div class="custom-pre-header">
    <div class="flex space-x-4 items-center">
        {% for row in rows %}
            <div class="flex space-x-2 items-center relative">
                {{ row }}
            </div>
        {% endfor %}
    </div>
</div>