<div class="custom_view_admissions py-[50px]">
  <div class="grid grid-cols-1 gap-12">
        {% for row in rows %}
            {% set node = row['#row'] %}
            {% set image_url = file_url(node._entity.field_map_i.entity.fileuri) %}
            <div  class="box-shadow-style">
                <div>
                    <div class="float-left relative">
                        <img src="{{image_url}}" alt="" class="h-[360px] w-[680px] rounded-md object-cover"/>
                    </div>
                    <div class="p-5 overflow-hidden">
                        <div>
                            <h1 class="text-xl font-medium mb-6">{{node._entity.title.value}}</h1>
                        </div>
                        <div class="h-1 bg-thirst w-16 mb-2"></div>
                        <div style="display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;" class="text-black overflow-hidden font-normal mb-2">{{node._entity.field_school_address.value}}</div>
                        <div style="display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;" class="text-black overflow-hidden font-normal mb-2"><strong>Phone:</strong> {{node._entity.field_school_phone.value}}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
  </div>
</div>
